*{
    margin: 0px;
    padding: 0px;
}
#yyBox{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f4cfcf;
}
.group{
    width: 70%;
    height: 93%;
    margin: auto;
    color: #f4c529
}
.item1{
    text-align: center;
    font-size: 30px;
    color: #f4c529;
    -webkit-text-stroke: 1px #e62727;
    text-stroke: 1px #000;
    font-weight: bold;
    font-style: italic
}
.context{
    left: 17%;
    z-index: 3;
    top: 9vh;
    position: absolute;
    font-size: 1em;
    width: 30%;
    height: 14vh;
    background-color: #fdb9b9;
    border: #f32121 solid 2px;
    border-radius: 10px;
}
.conv{
    left: 47%;
    z-index: 3;
    top: 11vh;
    position: absolute;
    width: 15%;
    height: 10vh;
    font-size: 1em;
    border-radius: 20px;
    background-color: #fdb9b9;
    border: #3F3F3F solid 1px;
    margin-left: 3%;
}