#middle{
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    color: #d1edc4;
}
.middle-img-box{
    position: absolute;
    right: 1%;
    top: 30%;
    width: 2%;
    height: 7%;
    z-index: 1;
    /*margin: 13% 0 0 47%;*/
    display: inline;
    font-size: 15px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #000000;
}
.middle-img60s{
    display: inline;
    -webkit-user-select: none;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
    /*width: 397px;*/
    /*height: 755px;*/
    width: 100%;
    height: 100%;
}
.big {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.big_img {
    width: 397px;
    height: 755px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.hello{
    position: absolute;
    z-index: 2;
    right: 10%;
    top: 20%;
}
#drawCanvas{
    position: absolute;
    z-index: 1;
    left: 1%;
    border: #000000 1px solid;
}
#colorPicker{
    position: absolute;
    z-index: 2;
}